<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danielle Quaye</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="bg-white text-gray-900 font-sans">

   
   <!-- Header Section -->
    <header class="bg-white shadow-md fixed w-full z-10 top-0">
    <nav class="container mx-auto flex justify-between items-center p-6">
    <!-- Left: Site Name -->
    <div class="text-xl font-bold text-black">Danielle Quaye</div>

    <!-- Right: Nav Links -->
    <div class="flex space-x-6">
      <a href="/" class="text-gray-700 hover:text-blue-600">Home</a>
      <a href="/AboutMe.html" class="text-gray-700 hover:text-blue-600">About Me</a>
      <a href="/projects.html" class="text-gray-700 hover:text-blue-600">Projects</a>
      <a href="/#contact" class="text-gray-700 hover:text-blue-600">Contact</a>
    </div>
  </nav>
    </header>

    <!--Sidebar nav-->
   <aside class="hidden md:block fixed top-16 left-0 w-64 h-[calc(100vh-4rem)] bg-[#DCFFFD] p-4 border-r">
    <!-- Sidebar content -->

        <nav class="flex flex-col space-y-4">
        <a href="#introduction" class="hover:text-blue-600">Introduction</a>
        <a href="#collection" class="hover:text-blue-600">Collection of Information</a>
        <a href="#persona" class="hover:text-blue-600">Persona</a>
        <a href="#ideas" class="hover:text-blue-600">Ideas</a>
        <a href="#conclusion" class="hover:text-blue-600">Conclusion</a>
      </nav>
    </aside>


    <!-- Main Content -->
   <article class="md:ml-60 px-12 py-6 max-w-5xl mx-auto pt-24">
     <section id="introduction" class="space-y-4 mt-12 scroll-mt-24">
        <h1 class="text-3xl font-bold text-center"> DESIGNING FOR OTHER PEOPLE</h1>
        <h2 class="text-2xl font-semibold text-center"> INTRODUCTION</h2>
       
        <p> For this project, the issues that came up were time management, procrastination, not knowing what to
            prioritize, getting a daily devotion guide which helps the person have their quiet time and learning
            how to
            play the guitar. Of these I decided to talk more about time management/procrastination /not knowing
            what to
            prioritize.
            
            I decided to formulate ideas that dealt with these issues to some extent. I ended with
            ideas
            centered on minimizing such issues. Each app has its special features depending on what the user
            prefers,
            and they all have an engaging interface which would attract the user to use that app more.

        </p>
     </section>
       

 <section id="collection" class="space-y-4 mt-12 scroll-mt-24">
        <h2 class="text-2xl font-bold text-center">COLLECTION OF INFORMATION</h2>
        <p>
            In order to get a sense of where to start from, I came up with some questions to guide my process
            and this
            took about 20 minutes. After getting my questions, I now had to think of the group of people I
            wanted to
            ask. I decided to ask those with the same/similar age(20-21) and those in the same major(computer
            science).
            I had a semi-structured interview with those I met with in person because as I was asking the
            questions, I
            leaned into the answers they seemed most passionate about and kept the conversation going till I had
            my
            information.
            </p>

           <ul class="list-disc list-inside space-y-2">
            <span class="text-black-600 font-semibold"> Questions</span>
            <li>What are the main challenges or difficulties they face in their daily lives?</li>
        
             <li>Are there any specific tasks that makes the frustrated while doing?</li>
  
             <li>What are their preferences when it comes to using technology?</li>
           
             <li>Are there specific things they hope to achieve through the use of technology?</li>
           
             <li>What applications/software do they use regularly?</li>
           </ul>

            <p>
            <span class="font-semibold">Friday(01/26)</span>
            I met up with a computer science major and proceeded to ask my questions. It was more of a free
            interview
            which I loved because the conversation was just smooth and in-depth.
            The whole interview took about 15 minutes, and I gathered all the information I could on my laptop.</p>

             <div class="flex justify-center items-center my-6">
    <img src="{{ url_for('static', filename='images/pic64.png') }}" alt="First iPhone prototype design before user feedback" class="w-full md:w-2/3 lg:w-2/4">
</div>

<p>
          
            Above is an image of a question I asked and was note taking.

            I was set to meet my next interviewee around 4:30pm in the Betty Shabazz Cultural Center. This
            person is
            also a computer science major.
            The image on the left is one of the common spaces in the Betty and on the right is my interviewee
            holding my
            laptop with the questions to be asked.
             </p>
       <div class="flex flex-col md:flex-row gap-4 justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic65.png') }}" alt="picture of a room with pillows" class="max-w-full md:max-w-xs ">
            <img src="{{ url_for('static', filename='images/pic66.png') }}" alt="picture of a person holding a laptop with questions" class="max-w-full md:max-w-xs ">
        </div>
        <p>
            After, I had dinner with my third interviewee, who is also a computer science major. This was my
            first time
            meeting them and it was lovely, how they responded to each question. I did not have my laptop, so I
            used my
            notes app on my phone to collect the information.     </p>
          
         <div class="flex flex-col md:flex-row gap-4 justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic67.png') }}" alt="a group of people in a room having dinner"class="max-w-full md:max-w-xs ">
            <img src="{{ url_for('static', filename='images/pic68.png') }}" alt="a note taking app on a phone with information" class="max-w-full md:max-w-xs ">
        </div>
    
      
        <p>
            I felt I needed to gather more information so I created a google form and sent it out to a couple
            more
            people. I would say this process was more vague in terms of the answers based on the ones I
            received. It was
            quicker but then it was not as in-depth as the ones I had in person and upon reading Amy Ko’s “How
            to
            understand problems” I realized this was probably not the best way to go. </p>
           <div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic69.png') }}" alt="google survey results" class="w-full md:w-2/3 lg:w-3/4">
        </div>
   
    </section>

    <section id="persona" class="space-y-4 mt-12 scroll-mt-24">
        <h2 class="text-2xl font-bold text-center">PERSONA</h2>
        <p> My name is Katara Thomps, and I am a 22-year-old college student. I usually like to wake up early in
            the
            morning
            to read my bible and do my devotion but sometimes, I do not get the time to pray because I do not
            know what
            to
            pray about and I have so much to do so procrastinate a lot. I like to use my iPhone in conjunction
            with my
            MacBook because it’s so convenient. TikTok and Instagram have me on a choke hold because I seem to
            always
            find
            myself there. I also check my emails regularly because well, I am a college student after all. I
            also enjoy
            using Tezza to edit my pictures. I also check my emails regularly because well, I am a college
            student after
            all. </p>
<p>

            <span class="font-semibold"> Goals:</span> </p>
            <ul class="list-disc list-inside space-y-2"> 
            <li> I want to improve my morning productivity and time management.</li>
            <li> I want to be able to prioritize things I have to do.</li>
            </ul>

<p> 
            <span class="font-semibold"> Challenges:</span>  </p>
           <ul class="list-disc list-inside space-y-2"> 
           <li> I feel like my biggest struggle is not being productive in the morning since I know I can get
            quite a
            number
            of things done then and I do not know how to manage my time.</li>
        
           <li> Another is lack of prioritization in scheduling tasks, so I tend to do things at my own time at
            the
            expense of
            my sleep or some other important thing.</li>
   
            <li> Sometimes, I don’t know what to pray about, so I end up skipping it.</li>
            </ul>

       
    </section>
      

<section id="ideas" class="space-y-4 mt-12 scroll-mt-24">
        <h2 class="text-2xl font-bold text-center">IDEAS WHICH COULD BE USED TO ADDRESS THE PROBLEMS</h2>
        <h3 class="text-blue-600 font-semibold"> Idea 1 – DaFocus</h3>
        <p>
            DaFocus is an app that helps you make a list of things you need to get done and notifies you when
            something
            needs to be done. There is an algorithm that looks at the time of the day and then takes into
            consideration
            what should be a priority and puts that at the top of your list. It will not allow you to complete/
            check
            off other tasks unless you complete/check off the one that is a priority. So, for a day, if you are
            not able
            to complete your tasks at the designated time, you will not be able to make a list for the next day
            until
            you complete the previous tasks.
         
            <span class="font-semibold">To what extent does it address the persona’s challenges?</span></p>
          <p> 
            I think in terms of having priority of tasks, this one is really good at it as it helps you go
            systematically on the tasks and specifically pushes you to finish a task at the top of the list
            before
            moving on so a lot can be done in a day. The downside is that you cannot make new tasks for the next
            day if
            you have not completed the ones from the day before.
            </p>
           <div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic70.png') }}" alt="sketch of DaFocus app" class="w-full md:w-2/3 lg:w-3/4">
           </div>

 <br>
        <h3 class="text-blue-600 font-semibold"> Idea 2 – TuneOut</h3>
        <p>
            This is an app that tracks how much you use an app and how much time you spend on it especially
            social media
            apps. You will need to manually fill out the calendar to grasp your schedule and add the apps that
            you know
            make you unproductive like TikTok and Instagram. After you have filled out the questionnaire about
            you, the
            app will be activated. Once it gets a log of the time spend on the app, it will automatically close
            the app
            and open up a priority(eg: display on the screen – Homework time/reading time/take shower, etc.) and
            it will
            not allow you to just dismiss the message until after some time has passed. The times in the app are
            from 30
            minutes upwards.  <span class="font-semibold">To what extent does it address the persona’s challenges?</span></p>
        
          
          <p> 
            I think since my persona says Instagram and TikTok have them in a choke hold, this would be the
            perfect app
            to at least help them literally tune out and do something productive as suggested to them through
            the
            questionnaire they answered concerning tasks and others. A downside might be that they could just
            move to
            their laptops/other devices that do not have the app.   </p>
            <div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic71.png') }}" alt="sketch of TuneOut app" class="w-full md:w-2/3 lg:w-2/4">
            </div>
      
       <br>
        <h3 class="text-blue-600 font-semibold">  Idea 3 – PTMF</h3>
        <p>
            Priority Time Managed Focus(PTMF) is an app that mimics a game. It is meant to make scheduling
            meetings,
            classes, work etc. very fun. The gamer gets points for how efficiently they completed a priority
            task,
            managed their time best and finished doing the suggested tasks by the app. It is a daily event so
            allows the
            user to feel proud for accomplishing something. It is a daily event so allows the user to feel proud
            for
            accomplishing something. It is a collaborative app where you can invite friends and interact with
            them
            through the completion of tasks.
            <span class="font-semibold">To what extent does it address the persona’s challenges?</span>
           
            This app aims to make completing tasks very fun with its unique and exciting interface. Who wouldn’t
            want to
            play a game that helps them complete their task? This is for those who are unproductive during the
            mornings
            as It sets a mood for being ahead of the game even before midday. It also helps because you are
            interacting
            with friends who have the app as well, so you tend to push it other to reach your goal for the day.
<div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic72.png') }}" alt="sketch of PTMF app" class="w-full md:w-2/3 lg:w-2/4">
</div>
        </p>
     <br>
         <h3 class="text-blue-600 font-semibold">  Idea 4 – DailyBible</h3>
  
        <p>
            This is an app that helps you do your devotion daily with focused prayer points and has a scheduled
            time it
            will alert you to pray. If you don’t know where to start, this app has got you!

           
           <span class="font-semibold">To what extent does it address the persona’s challenges?</span>   </p>
        
            In terms of devotion and not having the time to pray or what to pray about, this app addresses the
            issue
            pretty well as it guides the person through a whole devotion in a matter of minutes, so they never
            wonder about where to start. In terms of other challenges, this does not help as much.
            <div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic73.png') }}" alt="sketch of DailyBible app" class="max-w-full md:max-w-xs ">
</div>
      
       <br>
        <h3 class="text-blue-600 font-semibold">  Idea 5 – Inspire!</h3>

        <p>
            This is an app designed to have daily prompts for goal setting and also a space for a reflection
            when the
            day is over/ goal has been reached. There Is always going to be a motivational quote every day when
            you open
            the app. Of course, you may forget to open the app so it will be designed to pop up during the
            mornings so
            you can tap it to engage with it. This helps with visualizing your goals and then achieving them so
            by the
            end of the day you would’ve used you time wisely and would have done everything you wanted to do.
            The only
            thing is once you put in your goals and how to achieve them. You can’t modify it so once you tick
            all the
            boxes, the app will close automatically until the next day.

            <span class="font-semibold">To what extent does it address the persona’s challenges?</span> </p>
         
            This app I think is a great one because it combats the challenge of being unproductive during the
            mornings
            after waking up. Once you are able to sign in and get the app going with your information, it tunes
            your
            mind in a way to think about what you want to achieve in the day and how you can go about it,
            allowing you
            to journal along the way and closes once you have achieved your goal.
           <div class="flex justify-center items-center my-6">
            <img src="{{ url_for('static', filename='images/pic74.png') }}" alt="sketch of Inspire! app" class="w-full md:w-2/3 lg:w-3/4">
</div>
     

    </section>

     <section id="persona" class="space-y-4 mt-12 scroll-mt-24">
        <h2 class="text-2xl font-bold text-center">CONCLUSION</h2>
        <p>
            The ideas I came up with all have unique features to them which distinguish them from others. The
            interviewing process that did not work much for me was the structured version where I asked people
            the same
            questions in the same format through a survey mainly because they did not provide much information
            at all. I
            delved deeper into the aspects of task prioritization and time management. I also explored various
            UI/UX
            that would help my persona/interviewees accomplish their goals and finally came up with 5 ideas to
            which I
            acknowledge are a good start for combating the problems faced by my interviewees and persona.
        </p>
    </section>
    
<section class="my-12">
    <button
  id="goToTopBtn"
  aria-label="Go to top"
  class="fixed bottom-3 right-6 hidden items-center justify-center
         w-12 h-12 rounded-full bg-[#DCFFFD] text-black
         shadow-lg hover:bg-blue-600 transition">
  ↑
</button>
</section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </article>
    <!-- Footer -->
  <footer class="bg-white py-6 text-center shadow-inner">
    &copy; 2026 Danielle Quaye
  </footer>

</body>

</html>