<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="menuBar">
        <a href="/">Home</a>
        <a href="/designManifesto"> Design Manifesto</a>
        <a href="/projects">Projects</a>
        <a href="/#contact">Contact me</a>
    </div>

    <div>
        <br>
        <br>
        <br>
        <br>
        <h2> DESIGNING FOR OTHER PEOPLE</h2>
        <br>
        <br>
        <h1> INTRODUCTION</h1>
        <br>
        <p> For this project, the issues that came up were time management, procrastination, not knowing what to
            prioritize, getting a daily devotion guide which helps the person have their quiet time and learning how to
            play the guitar. Of these I decided to talk more about time management/procrastination /not knowing what to
            prioritize. I decided to formulate ideas that dealt with these issues to some extent. I ended with ideas
            centered on minimizing such issues. Each app has its special features depending on what the user prefers,
            and they all have an engaging interface which would attract the user to use that app more.

        </p>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>

        <h1> COLLECTION OF INFORMATION</h1>
        <br>
        <p>
            In order to get a sense of where to start from, I came up with some questions to guide my process and this
            took about 20 minutes. After getting my questions, I now had to think of the group of people I wanted to
            ask. I decided to ask those with the same/similar age(20-21) and those in the same major(computer science).
            I had a semi-structured interview with those I met with in person because as I was asking the questions, I
            leaned into the answers they seemed most passionate about and kept the conversation going till I had my
            information.
            <br>
            <br>

            <strong> Questions</strong>
            <br>
            1. What are the main challenges or difficulties they face in their daily lives?
            <br>
            2. Are there any specific tasks that makes the frustrated while doing?
            <br>
            3. What are their preferences when it comes to using technology?
            <br>
            4. Are there specific things they hope to achieve through the use of technology?
            <br>
            5. What applications/software do they use regularly?

            <br>
            <br>
            <strong> Friday(01/26)</strong>
            <br>
            I met up with a computer science major and proceeded to ask my questions. It was more of a free interview
            which I loved because the conversation was just smooth and in-depth.
            The whole interview took about 15 minutes, and I gathered all the information I could on my laptop.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic64.png') }}" alt="pic64.png" class="image-first">
            <br>
            Above is an image of a question I asked and was note taking.

            <br>
            <br>

            I was set to meet my next interviewee around 4:30pm in the Betty Shabazz Cultural Center. This person is
            also a computer science major.
            The image on the left is one of the common spaces in the Betty and on the right is my interviewee holding my
            laptop with the questions to be asked.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic65.png') }}" alt="pic65.png" class="image-fourth ">
            <br>
            <img src="{{ url_for('static', filename='images/pic66.png') }}" alt="pic66.png" class="image-fourth ">
            <br>
            <br>

            After, I had dinner with my third interviewee, who is also a computer science major. This was my first time
            meeting them and it was lovely, how they responded to each question. I did not have my laptop, so I used my
            notes app on my phone to collect the information.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic67.png') }}" alt="pic67.png" class="image-third">

            <img src="{{ url_for('static', filename='images/pic68.png') }}" alt="pic68.png" class="image-third">

            <br>
            <br>
            I felt I needed to gather more information so I created a google form and sent it out to a couple more
            people. I would say this process was more vague in terms of the answers based on the ones I received. It was
            quicker but then it was not as in-depth as the ones I had in person and upon reading Amy Ko’s “How to
            understand problems” I realized this was probably not the best way to go.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic69.png') }}" alt="pic69.png" class="image-first">
        </p>
        <br>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>PERSONA</h1>
        <br>
        <br>

        <p> My name is Katara Thomps, and I am a 22-year-old college student. I usually like to wake up early in the
            morning
            to read my bible and do my devotion but sometimes, I do not get the time to pray because I do not know what
            to
            pray about and I have so much to do so procrastinate a lot. I like to use my iPhone in conjunction with my
            MacBook because it’s so convenient. TikTok and Instagram have me on a choke hold because I seem to always
            find
            myself there. I also check my emails regularly because well, I am a college student after all. I also enjoy
            using Tezza to edit my pictures. I also check my emails regularly because well, I am a college student after
            all.

            <br>
            <br>


            <strong> Goals:</strong>
            <br>
            • I want to improve my morning productivity and time management.
            <br>
            • I want to be able to prioritize things I have to do.
            <br>
            <br>


            <strong> Challenges:</strong>
            <br>
            • I feel like my biggest struggle is not being productive in the morning since I know I can get quite a
            number
            of things done then and I do not know how to manage my time.
            <br>
            • Another is lack of prioritization in scheduling tasks, so I tend to do things at my own time at the
            expense of
            my sleep or some other important thing.
            <br>
            • Sometimes, I don’t know what to pray about, so I end up skipping it.
        </p>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> IDEAS WHICH COULD BE USED TO ADDRESS THE PROBLEMS</h1>
        <br>
        <br>
        <h1> Idea 1 – DaFocus</h1>
        <p>
            DaFocus is an app that helps you make a list of things you need to get done and notifies you when something
            needs to be done. There is an algorithm that looks at the time of the day and then takes into consideration
            what should be a priority and puts that at the top of your list. It will not allow you to complete/ check
            off other tasks unless you complete/check off the one that is a priority. So, for a day, if you are not able
            to complete your tasks at the designated time, you will not be able to make a list for the next day until
            you complete the previous tasks.
            <br>
            <br>
            <strong>To what extent does it address the persona’s challenges</strong>
            <br>
            I think in terms of having priority of tasks, this one is really good at it as it helps you go
            systematically on the tasks and specifically pushes you to finish a task at the top of the list before
            moving on so a lot can be done in a day. The downside is that you cannot make new tasks for the next day if
            you have not completed the ones from the day before.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic70.png') }}" alt="pic70.png" class="image-first">


        </p>

        <br>
        <br>
        <h1> Idea 2 – TuneOut</h1>
        <br>
        <p>
            This is an app that tracks how much you use an app and how much time you spend on it especially social media
            apps. You will need to manually fill out the calendar to grasp your schedule and add the apps that you know
            make you unproductive like TikTok and Instagram. After you have filled out the questionnaire about you, the
            app will be activated. Once it gets a log of the time spend on the app, it will automatically close the app
            and open up a priority(eg: display on the screen – Homework time/reading time/take shower, etc.) and it will
            not allow you to just dismiss the message until after some time has passed. The times in the app are from 30
            minutes upwards.
            <br>
            <br>
            <strong>To what extent does it address the persona’s challenges </strong>
            <br>
            I think since my persona says Instagram and TikTok have them in a choke hold, this would be the perfect app
            to at least help them literally tune out and do something productive as suggested to them through the
            questionnaire they answered concerning tasks and others. A downside might be that they could just move to
            their laptops/other devices that do not have the app.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic71.png') }}" alt="pic71.png" class="image-first">

        </p>
        <br>
        <br>
        <h1> Idea 3 – PTMF</h1>
        <br>
        <p>
            Priority Time Managed Focus(PTMF) is an app that mimics a game. It is meant to make scheduling meetings,
            classes, work etc. very fun. The gamer gets points for how efficiently they completed a priority task,
            managed their time best and finished doing the suggested tasks by the app. It is a daily event so allows the
            user to feel proud for accomplishing something. It is a daily event so allows the user to feel proud for
            accomplishing something. It is a collaborative app where you can invite friends and interact with them
            through the completion of tasks.
            <br>
            <br>
            <strong>To what extent does it address the persona’s challenges </strong>
            <br>
            This app aims to make completing tasks very fun with its unique and exciting interface. Who wouldn’t want to
            play a game that helps them complete their task? This is for those who are unproductive during the mornings
            as It sets a mood for being ahead of the game even before midday. It also helps because you are interacting
            with friends who have the app as well, so you tend to push it other to reach your goal for the day.

            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic72.png') }}" alt="pic72.png" class="image-first">

        </p>
        <br>
        <br>
        <h1> Idea 4 – DailyBible</h1>
        <br>
        <p>
            This is an app that helps you do your devotion daily with focused prayer points and has a scheduled time it
            will alert you to pray. If you don’t know where to start, this app has got you!

            <br>
            <br>
            <strong>To what extent does it address the persona’s challenges </strong>
            <br>
            In terms of devotion and not having the time to pray or what to pray about, this app addresses the issue
            pretty well as it guides the person through a whole devotion in a matter of minutes, so they never have to
            wonder about where to start. In terms of other challenges, this does not help as much.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic73.png') }}" alt="pic73.png" class="image-first">

        </p>
        <br>
        <br>
        <h1> Idea 5 – Inspire!</h1>
        <br>
        <p>
            This is an app designed to have daily prompts for goal setting and also a space for a reflection when the
            day is over/ goal has been reached. There Is always going to be a motivational quote every day when you open
            the app. Of course, you may forget to open the app so it will be designed to pop up during the mornings so
            you can tap it to engage with it. This helps with visualizing your goals and then achieving them so by the
            end of the day you would’ve used you time wisely and would have done everything you wanted to do. The only
            thing is once you put in your goals and how to achieve them. You can’t modify it so once you tick all the
            boxes, the app will close automatically until the next day.

            <br>
            <br>
            <strong>To what extent does it address the persona’s challenges </strong>
            <br>
            This app I think is a great one because it combats the challenge of being unproductive during the mornings
            after waking up. Once you are able to sign in and get the app going with your information, it tunes your
            mind in a way to think about what you want to achieve in the day and how you can go about it, allowing you
            to journal along the way and closes once you have achieved your goal.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic74.png') }}" alt="pic74.png" class="image-first">

        </p>

        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>

        <h1>CONCLUSION</h1>
        <br>
        <br>
        <p>
            The ideas I came up with all have unique features to them which distinguish them from others. The
            interviewing process that did not work much for me was the structured version where I asked people the same
            questions in the same format through a survey mainly because they did not provide much information at all. I
            delved deeper into the aspects of task prioritization and time management. I also explored various UI/UX
            that would help my persona/interviewees accomplish their goals and finally came up with 5 ideas to which I
            acknowledge are a good start for combating the problems faced by my interviewees and persona.
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="theFooter">
            <footer>
                <p1> Danielle Quaye</p1>
            </footer>
        </div>
        <br>
        </p>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var footer = document.querySelector('.theFooter');

                window.addEventListener('scroll', function () {
                    // Calculate how far the user has scrolled
                    var scrollPosition = window.innerHeight + window.pageYOffset;
                    var bodyHeight = document.body.offsetHeight;

                    // If the user has scrolled to the bottom of the page, show the footer
                    if (scrollPosition >= bodyHeight) {
                        footer.classList.add('footer-visible');
                    } else {
                        footer.classList.remove('footer-visible');
                    }
                });
            });
        </script>


</body>

</html>