<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>

<body>
    <div class="menuBar">
        <a href="/">Home</a>
        <a href="/designManifesto"> Design Manifesto</a>
        <a href="/projects">Projects</a>
        <a href="/#contact">Contact me</a>
    </div>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div>
        <br>
        <h2> SEEKING AND INTEGRATING FEEDBACK</h2>
        <br>


        <h1> INTRODUCTION</h1>
        <br>
        <br>

        <p> In this project, I will be evaluating a prototype that I made for a prior project and then use the feedback
            I
            receive from that evaluation to improve the project. The prior prototype I have chosen to evaluate and
            receive
            feedback from is the Thirsty Minds prototype. I will be using a discount method(Cognitive walkthrough) to
            see
            how easy/hard it is to learn what has been given and also use a survey to collect informative data from the
            users of the prototype. This will help to make the prototype better than it is now. The target audience that
            I
            used for the prior project was Current MHC Students and I intend to stick with that audience.
            <br>
        <p>To interact with the prototype, click <a
                href="https://www.figma.com/file/UhtNbV3UcGbrO1ZFH4vb2A/Danielle's-Project-4?type=design&mode=design&t=w24aVjful5iVU4Zr-1">here</a>.
        </p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>FEEDBACK I WOULD LIKE TO COLLECT</h1>
        <br>
        <p> The first feedback I would like to collect will have to do with how easy or difficult it was to learn how
            the
            pages worked and how to move around and get what you want to get. Specifically, how many steps it took to
            get an
            action done(example: how were you able to navigate the pages to get to the cold drinks menu?) so a cognitive
            walkthrough would help with this to access the learnability and usability of the prototype.
            The second feedback I would like to collect will have to do with the aesthetics and enjoyment and mental
            effort
            or ease of how the user was able to go about interacting with the prototype. So, for this I would construct
            a
            survey to ask some questions about the prototype. A survey is not expensive and once the questions are
            structured right, it will help gather a lot of information about the prototype.


            <br>
            <br>

            For the cognitive walkthrough, I am outlining the steps I want the user to take to get to a specific point.
            <br>
            <strong>
                TASK</strong>
            <br>
            1. Start Point: Click on the play button at the top right corner.
            <br>
            • You are on the first screen of Thirsty Minds website.
            <br>
            2. Navigate to the homepage.
            <br>
            3. Look for the drop-down menu called Resources and click on “Menu”.
            <br>
            4. Click on the “Menu” again to reveal the menu options.
            <br>
            5. Look for a menu option that points you to the pastries section.
            <br>
            6. Scroll through and navigate back to the homepage.
            <br>
            7. Repeat the steps from the home page until you get to the order online page.
            <br>
            8. Locate the yelp button at the bottom and click on it.
            <br>
            9. Exit Point:
            <br>
            • Exit the prototype by clicking on the close button.
            <br>

            <br>
            For the survey, some questions I came up with were:
            <br>
            <strong> Mental Ease Questions:</strong>
            <br>
            1. How mentally demanding did you find interacting with the prototype?
            <br>
            2. Did you encounter any difficulties or challenges while using the prototype?
            <br>
            3. Were there any aspects of the prototype that required you to really think about what you had to click?
            <br>
            <br>
            <strong> Usability Questions:</strong>
            <br>
            1. How was navigating through the prototype like for you?
            <br>
            • On the scale of very easy to very difficult
            <br>
            2. Were you able to view a section from the menu page?
            <br>
            3. Were you able to complete the task given?
            <br>
            <br>

            <strong> Aesthetics and Enjoyment:</strong>
            <br>
            1. What is your initial feeling upon looking at the prototype?
            <br>
            2. Did you enjoy using the prototype?
            <br>
            • On a scale of not at all to very much
            <br>
            3. How engaging was the prototype's design?
            <br>
            • On a scale of not engaging at all to very engaging
            <br>
            4. How did the color scheme contribute to your experience?
            <br>
            Finally, I asked an open-ended question:
            <br>
            1. If you could change anything about the prototype, what would it be?
            <br>
            <br>
        </p>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>PREPARING THE PROTOTYPE</h1>
        <br>
        <p>After drafting these questions, I checked my recent prototype to make sure that it is ready to be sent out
            to
            people to use(Current MHC students). I realized some buttons were not working since I did not add
            functionality
            to them, and some had bugs, so I fixed those and added a couple more pages(wine and pastries). I took out
            the
            loyalty program because I would have to create another page and did not have an idea of what exactly I
            wanted to
            put in. This is the prototype outline before I added more pages.
            <br>
            <img src="{{ url_for('static', filename='images/pic18.png') }}" alt="pic18.png" class="image-first">
            <br>
            <br>
            This is the prototype outline after I added some more pages and functionality.
            <br>
            <img src="{{ url_for('static', filename='images/pic19.png') }}" alt="pic19.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic20.png') }}" alt="pic20.png" class="image-first">

        </p>


        <br>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>COGNITIVE WALKTHROUGH</h1>
        <br>

        <p>
            STEPPING THROUGH THE TASK
            <br>
            TASK: Navigating through the thirsty minds website interface to look at menus and the visit yelp
            <br>
            <img src="{{ url_for('static', filename='images/pic21.png') }}" alt="pic21.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic22.png') }}" alt="pic22.png" class="image-first">
        </p>
        <br>
        <br>

        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>START OF FEEDBACK COLLECTION </h1>

        <p>Once I was done performing a cognitive walkthrough, I decided to send the task outlined above alongside the
            link
            to the prototype to a couple of people for them to step through. I also sent the link to the google form
            with
            the survey questions so they will fill it out after. I targeted people who have some know-how about Figma
            and
            those who do not. I got 10 people to step through the task and respond to the survey.
            <br>
            <img src="{{ url_for('static', filename='images/pic23.png') }}" alt="pic23.png" class="image-first">

        </p>


        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> FEEDBACK AFTER USERS HAD TESTED IT</h1>
        <br>
        <br>


        <p>Upon looking at the feedback concerning usability, these were charts and a few answers.
            <br>
            <img src="{{ url_for('static', filename='images/pic24.png') }}" alt="pic24.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic25.png') }}" alt="pic25.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic26.png') }}" alt="pic26.png" class="image-first">
            <br>
            <br>
            For the usability, I got pretty good ratings which meant the functionality was almost on point and buttons
            and pages were working to allow the user to navigate and explore.

            For the mental ease/effort aspect, these were some of the feedback I received.
            How mentally taxing did you find interacting with the prototype?
            <br>
            <img src="{{ url_for('static', filename='images/pic27.png') }}" alt="pic27.png" class="image-first">
            <br>

            Did you encounter any difficulties or challenges while using the prototype?
            <br>
            <img src="{{ url_for('static', filename='images/pic28.png') }}" alt="pic28.png" class="image-first">
            <br>
            Were there any aspects of the prototype that required you to really think about what you had to click?
            <br>
            <img src="{{ url_for('static', filename='images/pic29.png') }}" alt="pic29.png" class="image-first">
            <br>
            <br>

            From the feedback, many users already had a mental model of how the pages worked and so navigating
            through the pages was not much of a hustle. I will say that some of the users who had not used Figma
            before struggled just a bit with how to get started but once they were able to understand it, it was not
            a hustle.

            <br>
            <br>
            For the aesthetics and enjoyment, these were some of the feedback I received
            <br>
            <img src="{{ url_for('static', filename='images/pic30.png') }}" alt="pic30.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic31.png') }}" alt="pic31.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic32.png') }}" alt="pic32.png" class="image-first">
            <br>
            <br>
            Overall, the feedback on aesthetics was pretty good. Many seemed to like the wooden vibe of the pages.
            <br>
            <br>
            After, I asked what people would have changed about the prototype
            <br>
            <img src="{{ url_for('static', filename='images/pic32.png') }}" alt="pic32.png" class="image-first">
            <br>
            Some suggestions people came up with to help improve the prototype. I think this was really helpful for
            me because these paired with the graphs showed me exactly where I needed to focus on.
            <br>
            <br>


        </p>


        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> IMPROVEMENTS TO THE PROTOTYPE</h1>
        <br>
        <p>After looking at the feedback from the users, I decided that on areas I wanted to improve:
            <br>
            1. An area I wanted to work on and improve would be the dropdown menu since it gave a lot of users trouble
            because you had to click on it twice before it took you to where you wanted to go which disrupted the mental
            model of the users so there wasn’t an ease but a mental effort on the part of the users. This is not the
            typical
            behavior of a drop-down menu where you click on an option. I would like to change it to buttons. Since I
            took
            the loyalty program idea out, there can be enough space for all buttons to be on the page. This would help
            with
            the usability and learnability of the prototype, and it will be easier to move between pages since it is
            just a
            click away.
            <br>
            <img src="{{ url_for('static', filename='images/pic33.png') }}" alt="pic33.png" class="image-first">
            <br>
            This is how the buttons look.
            <br>
            <br>
            2. Another area I would like to improve is the spacing between the menu options in a particular category.
            The more legible it is, the more it will make it easier and more enjoyable to use. So, I decided to make it
            more spaced and make the main components bold and bigger to distinguish it from the actual menu items with
            prices and I think this would help with the aesthetics.
            <br>
            <img src="{{ url_for('static', filename='images/pic34.png') }}" alt="pic34.png" class="image-first">
            <br>
            <br>
            3. I added more pictures to make it more vibrant. I do believe pictures draw people to a particular
            restaurant and makes it easy for them to identify what they want. I added a bit of green outline to add a
            bit more color to make the button vibrant! Below you can see that once the button is clicked, it completely
            changes color bounces up.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic35.png') }}" alt="pic35.png" class="image-first">




        </p>

        <br>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> PROTOTYPE AFTER FEEDBACK</h1>
        <br>
        <br>
        <p>
            <img src="{{ url_for('static', filename='images/pic36.png') }}" alt="pic36.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic37.png') }}" alt="pic37.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic38.png') }}" alt="pic38.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic39.png') }}" alt="pic39.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic40.png') }}" alt="pic40.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic41.png') }}" alt="pic41.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic42.png') }}" alt="pic42.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic43.png') }}" alt="pic43.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic44.png') }}" alt="pic44.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic45.png') }}" alt="pic45.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic46.png') }}" alt="pic46.png" class="image-third">
            <img src="{{ url_for('static', filename='images/pic47.png') }}" alt="pic47.png" class="image-fourth">
            <img src="{{ url_for('static', filename='images/pic48.png') }}" alt="pic48.png" class="image-fourth">


            <br>
            <br>



        </p>




        <br>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1>CONCLUSION</h1>
        <br>



        <p>In the end I made 3 really impactful changes to my prototype. I replaced the dropdown menu with buttons
            instead,
            I added more pictures and colors to the buttons to make it more aesthetically pleasing and also added a bit
            more
            space between the options in a specific category of the menu to make it more legible. All these contribute
            to
            the goal I had in the beginning with the feedback I wanted in terms of usability, mental ease or effort and
            aesthetics and enjoyment. I think the changes I made really improved the project. I did have some trouble
            with
            the surveys and the cognitive walkthrough.
            <br>
            I struggled a bit with coming up with the perfect task and
            walkthrough so it will be easy to follow. I also struggled a bit with the questions I wanted to ask for the
            survey concerning the prototype. This is because I wanted to get very informative feedback and usually
            surveys
            do not give you that, but I was able to structure it so that I could get some appropriate feedback.
            <br>
            I think
            an
            interview would have been the best user centric approach to go with because I can get a lot of information
            and
            understand where the user is coming from, but I did not get the time to meet people and that is a tradeoff I
            had
            to do with the survey. In the end, I accomplished the task of getting feedback and improve on the prototype.

        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="theFooter">
            <footer>
                <p1> Danielle Quaye</p1>
            </footer>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var footer = document.querySelector('.theFooter');

                window.addEventListener('scroll', function () {
                    // Calculate how far the user has scrolled
                    var scrollPosition = window.innerHeight + window.pageYOffset;
                    var bodyHeight = document.body.offsetHeight;

                    // If the user has scrolled to the bottom of the page, show the footer
                    if (scrollPosition >= bodyHeight) {
                        footer.classList.add('footer-visible');
                    } else {
                        footer.classList.remove('footer-visible');
                    }
                });
            });
        </script>
</body>

</html>