<<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
    <html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
        <title>Designing For Community</title>
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="menuBar">
            <a href="/">Home</a>
            <a href="/designManifesto"> Design Manifesto</a>
            <a href="/projects">Projects</a>
            <a href="/#contact">Contact me</a>
        </div>

        <div>
            <br>
            <h2> DESIGNING FOR COMMUNITY</h2>
            <br>
            <h1>INTRODUCTION </h1>
            <br>
            <br>
            <p>
                In this project, my goal is to design technology to help with community-building at Mount Holyoke. I
                will speak to some Mount Holyoke students to get a sense of their experiences with making and
                maintaining friends on campus and design a tool to tackle one aspect of the problems they have
                encountered during their time on campus so far. The tool I will be designing will be a mobile app that
                will aid in helping that specific aspect.
                <br>
            <p>To interact with the prototype, click <a
                    href="https://www.figma.com/file/520HLGcjuqWGyjj8HHsKLP/Danielle's-project-3?type=design&mode=design&t=w24aVjful5iVU4Zr-1">here</a>.
            </p>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> INTERVIEWING MOUNT HOLYOKE STUDENTS</h1>
            <br>
            <p>
                In order to get input from 3-5 MHC students, I decided to create a list of questions I aim to ask to
                guide me and slowly ease into the answers they provide and follow in that direction. I incorporated the
                semi-structured interview technique. After about 15 minutes, I had my questions ready.
            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1>QUESTIONS I ASKED</h1>
            <br>
            <p>
                • How do you typically initiate or maintain friendships on campus?
                <br>
                • Are there any specific barriers you've encountered when trying to connect with other students?
                <br>
                • Have you noticed any patterns or trends in terms of how students socialize or form friendships at
                Mount Holyoke?
                <br>
                • How do you think technology could be used to improve the social experience for students at Mount
                Holyoke?
                <br>
                • Can you tell me about your experiences with making friends or building community on campus?
                <br>
                <br>
                <img src="{{ url_for('static', filename='images/pic49.png') }}" alt="pic49.png" class="image-first">

                <br>
                This was me interviewing a few other friends after a group meeting around 7:30pm.
                <br>
                <br>
                I asked a couple other people as well over text. Here are some snippets of the text messages with some
                replies
                <br>
                <br>
                <img src="{{ url_for('static', filename='images/pic50.png') }}" alt="pic50.png" class="image-first">
                <img src="{{ url_for('static', filename='images/pic51.png') }}" alt="pic51.png" class="image-first">
                <img src="{{ url_for('static', filename='images/pic52.png') }}" alt="pic52.png" class="image-first">
            </p>
            <br>
            <br>
            <p>
                I did not ask all the questions I had there. I asked different people a series of the same questions but

                in a different order. I took some questions out because it made my focus too broad.
            </p>
            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1>IDENTIFICATION OF THE PROBLEM</h1>
            <br>
            <br>
            <p>

                I got feedback from all the MHC students I spoke to concerning the problems they faced with how they
                perceived, initiated, and maintained friendships. I decided to get the perspectives of two racially
                different groups.
                <br>
                This is what I gathered:
                <br>
                1. Many MHC students are in cliques, sports teams, or clubs. They are close knitted so in order to be a
                part of that clique you’d have to join them(sport or club).
                <br>
                2. There are different people with different stories and backgrounds and that plays a huge role in the
                situation.
                <br>
                3. Taking a class with someone does not mean you will be friends after that class.
                <br>
                4. Most people maintain their friendships by texting and meeting up for lunch/dinner in blanch to catch
                up.
                <br>
                5. Orientation is where people had their first initiation of friendships, but most did not last due to
                realization that they are no compatible(turkey drop).
                <br>
                6. If you do not have a friend group (clique) after a week or two in your first year, you will usually
                be alone most times.
                <br>
                <br>

                <br>
                <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> PRECISE DESCRIPTION OF THE PROBLEM</h1>
            <br>
            <br>
            <p>
                There are many people who come from different backgrounds and so they relate to others differently. Once
                you come into college, you usually try to initialize friendships from orientation, classes, and dorms
                but sometimes, soon after you realize that you have no common interests except for that one thing which
                was a class you had together or that dorm you lived in. This makes it hard to relate really well with
                others, so you tend to find people who share similar interests and backgrounds (maybe originate from the
                same culture/country) to hang out with and you eventually stay with that group because you are
                comfortable.

            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1>CREATION OF PERSONA</h1>
            <br>
            <p>
                Persona
                <br>
                My name is Jayne Aang. You can call me J. I attend Mount Holyoke College and I am from Ethiopia. I have
                quickly come to realize that making friends here is very different from making friends back home. I made
                a couple of friends during orientation by interacting with them every day because we were in a common
                space and after orientation, there was no contact. It was weird. I was always in my room until I found
                other people like me with common backgrounds. In fact, I did not find them, they found me. They were
                seniors so it made more sense. It was easier to initialize conversations by just talking about things we
                had in common, and it was easier to maintain those friendships because of that. I have friends I talk to
                in class, but it is just not the same. Once I do not have class with them anymore, keeping in touch is
                difficult because if it was not for the class, we would not have even met. Maybe it’s because there is a
                huge barrier due to different cultural experiences.
                <br>
                <br>
            <p>
            <h1> GOAL</h1>
            <br>
            <p>
                • I want to be able to find and connect with people who have very similar backgrounds as me and we
                should share common interests because talking would flow naturally.
            </p>
            </p>
            <br>
            <br>
            <h1>FRUSTRATIONS</h1>
            <br>
            <p>
                • Even though Mount Holyoke has a small population of students, it is still hard to find friends because
                everyone likes to keep to themselves when not with their cliques.
                <br>
                • Social media does not help if I do not know where to look to find people like me.
                <br>
                <br>
            </p>
            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> 5 DIFFERENT SOLUTIONS</h1>
            <br>
            <p>
                Overall, the interface I am going for is the mobile interface because as college students, our phones
                are with us 24/7. The aspect of the problem of finding people with similar interests and background
                begins by asking “how to find them when you arrive on campus”. Even though there is orientation, there
                is little to no activity after orientation to help student find their spaces where they can interact
                freely to make them feel at home because they don’t have those similarities and experiences.
                <br>
                <br>

                • Background-matching: this app would be a mobile app that aims to connect people(mostly first years)
                with a common background and experience. There will be filters to decide on how to you want to look for
                other profiles(by age, place of birth, etc.)
                <br>
                <br>
                • Similar interest hubs: this app will focus on allowing MHC students who do not have cliques or friends
                yet and long to have friends with similar interests, experiences and background text and plan activities
                together.
                <br>
                <br>
                • FriendFinding app(Bump): this app will be like a dating app but for friends. You can create your
                profile and fill the form with your details and swipe to find a match. You can find more about people on
                their profiles so far as they are on the app. The more you swipe and bump, the algorithm will recognize
                and give you more people based on those you bumped with.

                <br>
                <br>
                • StudyBuddy app : this app will help bring people together who are doing the same major. This is a
                great idea because if you are doing the same major, you are likely to see the person most days when you
                have class till you graduate and with that you can express similar interests and take it from there. You
                have a study buddy and someone you connect with due to shared experiences.

                <br>
                <br>

                • DormBuddies : this app will help bring people who are in the same building with similar interests
                together. This helps because once you have someone in your dorm who is like you in the sense that you
                are compatible, it makes everything more fun.

                <br>
                <br>
            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> WHAT I HAVE CHOSEN TO CREATE</h1>
            <br>
            <br>
            <p>
                After brainstorming on my solutions, I decided to create the Friend Finding App(Bump) where you can find
                people, like a dating app and see if you are compatible enough. As time goes on, you can find more
                people and you will be able to expand your friend group. With this, you can swipe and see pictures or
                ultimately look at profiles and what other people have on theirs which attracts you to bump with them.
                <br>
                <br>
                An app that I also really liked was study buddy app. With this app, you can start out as acquaintances
                from class because you are majoring in the same subject and as time goes on, it can build. You can find
                people with similar background/experience as you and it will make the friendship stronger, but I did not
                implement this.
            </p>

            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> SKETCHES I MADE</h1>
            <br>
            <br>
            <p>
                <img src="{{ url_for('static', filename='images/pic53.png') }}" alt="pic53.png" class="image-first">
                <br>
                I really liked these two pages but decided against the about page because since it’s for college
                students, word can easily go around concerning what the app is about. As for the second page, I decided
                to go with it because I tried to create something fun that did not have to do with looking at words for
                so long. I decided against the filter feature it would take a long time to implement. I used icons for
                the menu instead of a hamburger menu just because the app did not have a lot of pages which would
                require a longer menu.
                <br>
                <br>

                <img src="{{ url_for('static', filename='images/pic54.png') }}" alt="pic54.png" class="image-first">
                <br>
                I reiterated the idea about the photos here once more which would involve a horizontal slide to see the
                people that are on the app in order to “bump”. I had a chat page as well for texting those you have
                “bumped”. I did not use the logo anymore just the word at the left corner. The use of icons for the menu
                made it very simple.
                <br>
                <br>
                <br>
                <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1>FINAL SKETCH OF SOME PAGES</h1>
            <br>
            <br>
            <p>
                <img src="{{ url_for('static', filename='images/pic55.png') }}" alt="pic55.png" class="image-fourth">
                <img src="{{ url_for('static', filename='images/pic56.png') }}" alt="pic56.png" class="image-fourth">
            </p>
            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> IMPLEMENTATION IN FIGMA</h1>
            <br>
            <p>
                <img src="{{ url_for('static', filename='images/pic57.png') }}" alt="pic57.png" class="image-first">
                <br>
                <br>
                I ventured out to try new colors which I think looks great! Not too formal, not too playful! Overall, I
                liked how this is a step to help combat the problem of making friends here in MHC. I created my own
                carousel
                as I searched for some interactive ones but did not find any good ones. The use of pictures makes the
                prototype not too formal and standard. I like that I used the idea of the dating app. This is far from
                being
                the best prototype, but it is an effort for my persona to try out!
                <br>
                <br>
            </p>

            <br>
            <br>
            <br>
            <br>
            <div
                style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
            </div>
            <br>
            <br>
            <h1> CONCLUSION</h1>
            <br>

            <p>
                It was a bit hard to come up multiple ideas without having to think about the same thing, but it was
                worth
                it in the end. I found it really hard to choose between two of my designs because they were the best out
                of
                all the solutions I came up with, but I will definitely implement the other on my own free time. The
                ideas I
                came up with all have unique features to them even though they aimed to solve the same problem.
                I really enjoyed the interview I had with people this time round because I was getting the same feedback
                from everyone involving the cliques here at MHC and how hard it is to make friends or find people with
                genuine interest as you. The color palettes were a bit difficult to choose from, but I chose one that
                looked
                good(shades of purple).
                This app solves an aspect of the problems that students have concerning making and maintaining friends.
            </p>
            <br>
            <br>
            </p>
            <br>
            <br>
            <br>
            <br>




        </div>



        <br>
        <br>
        <div class="theFooter">
            <footer>
                <p1> Danielle Quaye</p1>
            </footer>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var footer = document.querySelector('.theFooter');

                window.addEventListener('scroll', function () {
                    // Calculate how far the user has scrolled
                    var scrollPosition = window.innerHeight + window.pageYOffset;
                    var bodyHeight = document.body.offsetHeight;

                    // If the user has scrolled to the bottom of the page, show the footer
                    if (scrollPosition >= bodyHeight) {
                        footer.classList.add('footer-visible');
                    } else {
                        footer.classList.remove('footer-visible');
                    }
                });
            });
        </script>
        <br>
        <br>
    </body>

    </html>