<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="menuBar">
        <a href="/">Home</a>
        <a href="/designManifesto"> Design Manifesto</a>
        <a href="/projects">Projects</a>
        <a href="/#contact">Contact me</a>
    </div>
    <div>
        <br>
        <br>
        <br>
        <br>
        <h2>
            RE(DESIGNING) FOR PEOPLE
        </h2>
        <br>
        <h1> INTRODUCTION</h1>
        <br>
        <br>
        <p>
            For this project, I am going to make some changes to a website to target a specific group of people. The
            changes made will cater for the needs of the specified group and what I presume matters the most to them and
            what they would appreciate seeing.
            My focus group for this project will be the current Mount Holyoke College Students Since I am a student, I
            know what students look for in a shop and my target website is the Thirsty Mind Coffee and Wine Bar.
            <br>
            To interact with the prototype, click <a
                href="https://www.figma.com/file/tQ4FFwLxdTHJjUFO9ePVyb/Danielle's-Project-2?type=design&mode=design&t=w24aVjful5iVU4Zr-1">here</a>.
            <br>
            <br>

        </p>
        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> THOUGHT PROCESS</h1>
        <p>

            <br>
            1. <strong> Easy navigation:</strong> Many students want to easily navigate a website/app to get to what
            they want to do
            without much of a hustle. So, there is going to be emphasis on the how I make the website for easy access to
            everything with just a click to allow easy-to-find menus and clear labels.
            <br>
            <br>

            2. <strong> Menu and Pricing: </strong>Students mostly have a budget for when they get out to eat/ when they
            order so having
            the pricing for the menu visible and accessible to them will be a great addition in order to help students
            make informed choices on how much they want to spend/save.
            <br>
            <br>
            3. <strong> Online Ordering:</strong> Many students love to order online; it makes everything seem
            convenient so there should
            be emphasis on online ordering to either have it delivered or picked up. This will surely allow current
            students to “tap, tap, tap and done”.
            <br>
            <br>
            4. <strong> Event Calendar:</strong> One thing MHC students (and students in general) love is to attend
            upcoming or special
            events happening at the cafe. Details about the event concerning time, place and dress code should be
            emphasized on the website for easy access.
            <br>
            <br>
            5. <strong> Social Media Integration:</strong> Everyone is on social media now so of course the website must
            Incorporate links
            to shop's social media profiles, allowing students to easily connect on platforms like Instagram, Facebook,
            or Twitter. This encourages the students to follow the accounts for updates, news, and exclusive offers.

            <br>
            <br>
            6. <strong> Student Discounts and Loyalty Programs:</strong> One thing MHC students (and all students) love
            is discounts. I
            mean who wouldn’t? I think all websites should emphasize this if they are close to a school to attract more
            people. Also, I would emphasize loyalty programs as well, so they know how it works and a choice to sign up.
            <br>
            <br>

            7. <strong> Contact Information, location, and open hours:</strong> Easy to find contact information and
            address is a crucial
            part of any website. Some students prefer to text to order sometimes but others also desire to call to order
            or make enquires. Making known your open hours is a must.

            <br>
            <br>
            8.<strong> Feedback and Reviews: </strong>We know we love to look at reviews before we try a specific drink
            or dish, so it is
            essential to have a review/ratings page.
            <br>
            <br>

            9.<strong> Accessibility Features:</strong> Every website must be able to accommodate everyone with a
            dis(ability) to make it
            inclusive.


        </p>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> ANALYZING</h1>
        <br>

        <p>
            Upon looking at the home page for the website, I realized that the bar was interactive but because it was
            not highlighted when hovered, or something to make it visible and easy to access if this is your first time
            on the app, it would be a bit difficult. The only indicator of it being interactive was that once you hover
            over it, the pointer turns into a finger pointing.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic58.png') }}" alt="pic58.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic63.png') }}" alt="pic63.png" class="image-first">
            <br>
            Also, on the home page I think it will be better to have the clickables on one side and the unclickable on
            the other. Here, Used books, Beer, and Wine and Liquers is not clickable while Fresh Pastries and Locally
            Roasted Coffee are clickable.
            In order to make it easier for the students to navigate the mobile interface, I will make button icons for
            easy detection of the menus.


        </p>

        <br>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>
        <h1> SKETCHES AND MOOD BOARD</h1>
        <br>
        <p>
            For my sketches, I will focus on these key pages: the home page, the menu page, contact us page and online
            ordering page. Each will integrate accessibility and easy navigation. Within each page, there will be a
            social media integration. On the home page, I want to emphasize the events, open hours, and the menu bar
            (which will be a dropdown) for easy access to other parts.
            <br>
            <br>

            This is my mood board for the aesthetic and vibe I am going for with my pages. Since it is a coffee and wine
            shop, I was thinking of incorporating shades of brown and black to the specified pages to be more on theme
            and that is the kind of aesthetic many college students look for. I decided not to have any bright colors
            and not so tiny fonts to keep the pages consistent.
            <br>
            <br>
            <img src="{{ url_for('static', filename='images/pic59.png') }}" alt="pic59.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic60.png') }}" alt="pic60.png" class="image-first">
            <img src="{{ url_for('static', filename='images/pic61.png') }}" alt="pic61.png" class="image-first">
            <br>
            <br>
            Initially I wanted to prioritize the feedback and reviews page, so I sketched out that page. After
            sketching, receiving feedback in class, and trying to integrate it in my project, I decided to prioritize
            the online ordering page instead since that Is usually one of the first things students look for.
            <br>
            <img src="{{ url_for('static', filename='images/pic62.png') }}" alt="pic62.png" class="image-first">
            <br>
            <br>
            Initially, I was using buttons, but they were so inconvenient because they did not capture all the potential
            pages that could be on the website, and I was struggling to incorporate the 4 buttons for the 4 pages. Upon
            further consideration, I decided to use the dropdown menu which created space on the pages. After defining
            and developing countless times, I was able to come up with some great prototypes.
            One improvement the prototypes I made could have if given more time and thought would be how to make it
            super accessible to everyone and how I could incorporate the loyalty program in there without having the
            page look so crowded. What I really like about the prototypes are that the colors blend in very well and it
            is very interactive. I was able to get most of the buttons and pictures working which would navigate to
            different pages. I was also able to add the links of the social media so upon clicking, you are redirected
            to the social media page.

        </p>
        <br>
        <br>
        <div
            style="width: 70%; height: 10px; background-color: #9cbaba; border-radius: 10px; box-shadow: 2px 2px 4px rgba(9, 9, 9, 0.1); margin-left: 200px;">
        </div>
        <br>
        <br>

        <h1> CONCLUSION</h1>
        <br>
        <br>

        <p> The redesign of the Thirsty Mind Coffee and Wine Bar website for current Mount Holyoke College students
            involved the double diamond design process. From discovering the needs of students, defining what they
            need
            and laying it out, and sketching some ideas I had until I was able to develop it on Figma was a great
            process. It was a bit challenging to try and incorporate pages that was accessible to everyone
            especially on
            a phone screen but I did make it so it was easy to navigate. The prototype’s objective was to provide a
            more
            attractive and user-friendly experience for current Mount Holyoke College students.
        </p>
        </p>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="theFooter">
        <footer>
            <p1> Danielle Quaye</p1>
        </footer>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var footer = document.querySelector('.theFooter');

            window.addEventListener('scroll', function () {
                // Calculate how far the user has scrolled
                var scrollPosition = window.innerHeight + window.pageYOffset;
                var bodyHeight = document.body.offsetHeight;

                // If the user has scrolled to the bottom of the page, show the footer
                if (scrollPosition >= bodyHeight) {
                    footer.classList.add('footer-visible');
                } else {
                    footer.classList.remove('footer-visible');
                }
            });
        });
    </script>
</body>

</html>